[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pylsl = "*"
numpy = "*"
sox = "*"
chime = "*"
beepy = "*"
beeply = "*"

[dev-packages]

[requires]
python_version = "3.9"
