[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
brainflow = "*"
matplotlib = "*"
pandas = "*"
mne = "*"
pyqt5 = "*"
keyboard = "*"
pylsl = "*"
simpleaudio = "*"
ipython = "*"
pocketsphinx = "*"
psychopy = "*"
beeply = "*"
mypy = "*"
fastapi = "*"
uvicorn = "*"
ffpyplayer = "*"
python-vlc = "*"
mne-realtime = {file = "https://api.github.com/repos/mne-tools/mne-realtime/zipball/main"}
seaborn = "*"
pygame = "*"
playsound = "*"
pyqtgraph = "*"

[dev-packages]

[requires]
python_version = "3.9"
